// Place all the styles related to the Socks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
   background-color: light blue;
   font-family: Futura,"Trebuchet MS",Arial,sans-serif;
   text-align:center;
}
body {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  background-image: url('new_year_background.png');
  background-image: image-url('new_year_background.png');
}

.well img {
  width: 100%;
}
